nbproject/configurations.xml
nbproject/project.xml
nbproject/Makefile-impl.mk
build/Debug/Cygwin-Windows/main.o
.dep.inc
build/Debug/Cygwin-Windows/main.o.d
build/Debug/Cygwin-Windows/sqlite3.o
build/Debug/Cygwin-Windows/sqlite3.o.d
dist/Debug/Cygwin-Windows/urealmscharactergenv2.exe
nbproject/configurations.xml
nbproject/Makefile-Debug.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-Release.mk
nbproject/Makefile-variables.mk
nbproject/Package-Debug.bash
nbproject/Package-Release.bash
nbproject/private/configurations.xml
nbproject/private/launcher.properties
nbproject/private/Makefile-variables.mk
nbproject/private/private.xml
nbproject/project.xml